{% extends 'base.jinja'  %}
{% set guard = (file_prefix | upper_case) + '_H' %}
{% block body %}
#ifndef {{ guard }}
#define {{ guard }}
{% block decl %}
{% endblock %}
#endif // {{ guard }}
{% endblock %}