{% macro make_transition(transition) %}
{% if transition.event_handler.event is not none 
   or transition.guard is not none
   or transition.actions %}
{{' : '}}
{%- if transition.event_handler.event is not none %}
{{ transition.event_handler.event }}
{%- endif %}
{%- if transition.is_else_guard %}
{{ ' ' }}[else]
{%- elif transition.guard is not none %}
{{ ' ' }}[{{ transition.guard }}]
{%- endif %}
{%- if transition.actions %}
 / {{ transition.actions|join('\\n') }}
{%- endif %}
{% endif %}
{% endmacro -%}

{% macro make_state(state) %}
{% if state.is_atomic %}
state {{ state.unique_name }} {% if state.is_transient %}<<choice>>{% endif %}
{% else %}
state {{ state.unique_name }} {
    {% for substate in state.states %}
    {{ make_state(substate) | indent }}

    {% endfor %}
    [*] --> {{ state.states[0].unique_name }}
}
{% endif %}

{% if state.init_actions %}
{{ state.unique_name }} : init / {{ state.init_actions|join('\\n') }}
{% endif %}
{% if state.exit_actions %}
{{ state.unique_name }} : exit / {{ state.exit_actions|join('\\n') }}
{% endif %}
{% for transition in state.transitions %}
{% if not transition.is_internal %}
{{ state.unique_name }} --> {{ transition.target.unique_name }}{{ make_transition(transition) }}
{% else %}
{{ state.unique_name }} {{ make_transition(transition) }}
{% endif %}
{% endfor %}
{%- endmacro -%}

@startuml
hide empty description
skinparam ArrowFontColor #ba4452
skinparam ArrowFontStyle Bold
skinparam BackgroundColor White
skinparam shadowing false

skinparam state {
  StartColor #3e3c49
  BackgroundColor White
  BorderColor #3e3c49
  ArrowColor #3e3c49
  FontColor #3e3c49
  FontStyle Bold
}

' necessary for the choice states
skinparam activity {
    BackgroundColor White
    BorderColor #3e3c49
}

{{ make_state(root_state) }}
@enduml
