{% macro make_event_label(transition) %}
{% if transition.event_handler.event is not none 
   or transition.guard is not none
   or transition.actions %}
:
{%- if transition.event_handler.event is not none %}
{{ transition.event_handler.event }}
{%- endif %}
{%- if transition.has_else_guard %}
[else]
{%- elif transition.guard is not none %}
[{{ transition.guard }}]
{%- endif %}
{%- if transition.actions %}
 / {{ transition.actions|join('\\n') }}
{% endif %}
{% endif %}
{% endmacro -%}

{% macro make_state(state, root) %}
{% if state.states %}
[*] --> {{ state.states[0].unique_name }}
{% endif %}
{% if not root %}
{% if state.init_actions %}
{{ state.unique_name }} : init / {{ state.init_actions|join('\\n') }}
{% endif %}
{% if state.exit_actions %}
{{ state.unique_name }} : exit / {{ state.exit_actions|join('\\n') }}
{% endif %}
{% endif %}
{% for substate in state.states %}
state {{ substate.unique_name }} {
{{ make_state(substate, false) }}
}
{% for transition in substate.transitions %}
{% if not transition.is_internal %}
{{ substate.unique_name }} --> {{ state_chart.state_paths[transition.target_path].unique_name }}{{ make_event_label(transition) }}
{% else %}
{{ substate.unique_name }} {{ make_event_label(transition) }}
{% endif %}
{% endfor %}
{% endfor %}
{% endmacro -%}

@startuml
hide empty description
skinparam ArrowFontColor #ba4452
skinparam ArrowFontStyle Bold
skinparam BackgroundColor White
skinparam shadowing false

skinparam state {
  StartColor #3e3c49
  BackgroundColor White
  BorderColor #3e3c49
  ArrowColor #3e3c49
  FontColor #3e3c49
  FontStyle Bold
}
{{ make_state(state_chart, true) }}
@enduml
