{% import 'state_chart.jinja' as sm with context %}
{% extends 'header_base.jinja' %}

{% block description %}
 * Declarations for the {{state_chart_name}} statechart.
{% endblock %}

{% block decl %}

typedef enum
{
{% for event in state_chart.event_names %}
    {{ sm.make_event_name(event) }}{% if not loop.last %},{% endif %}{{- '\n' -}}
{%- endfor %}
} {{ sm.event_type }};

typedef enum
{
{% for state in state_chart.all_states %}
    {% if state.is_atomic %}
    {{ style.constant(sm.ns, *state.path_elements) }}{% if not loop.last %},{% endif %}{{- '\n' -}}
    {% endif %}
{%- endfor %}
} {{ sm.state_type }};

{{ sm.init_sig }};
{{ sm.handle_event_sig }};

{% endblock %}
