{% set ns = state_chart_name %}
{% set event_type = style.type(ns, 'event') %}
{% set state_type = style.type(ns, 'state') %}
{% set init_sig = 'void ' + style.function(ns, 'init') + '(void)' %}
{% set handle_event_sig = 'void ' + style.function(ns, 'handle', 'event') + '(' + event_type + ' event)' %}

{% macro make_event_name(event) %}
{{ style.constant(ns, event if event else 'NO_EVENT') }}
{%- endmacro %}