{% import 'state_chart.jinja' as sm with context %}
{% extends 'header_base.jinja' %}

{% block description %}
 * Declarations for the {{state_chart.name}} statechart.
{% endblock %}

{% block decl %}

typedef enum
{
{% for event in state_chart.get_event_names() %}
    {{ sm.make_event_name(event) }}{% if not loop.last %},{% endif %}{{- '\n' -}}
{%- endfor %}
} {{ sm.event_type }};

{{ sm.init_sig }};
{{ sm.handle_event_sig }};

{% endblock %}
