{% extends 'base.jinja'  %}
{% set guard = constant(root_state.name, 'H') %}
{% block body %}
#ifndef {{ guard }}
#define {{ guard }}
{% block decl %}
{% endblock %}
#endif // {{ guard }}
{% endblock %}