{% macro function_signature(return_type, name, parameters) %}
{{ return_type }} {{ name }}(
{%- for type, name in parameters %}
{{ type }}
{%- if name %} {{name}}{% endif -%}
{%- if not loop.last %}, {% endif %}
{% endfor -%})
{%- endmacro %}

{% macro state_enum_name(state) %}
{{ constant(state.path_elements[0], 'st', *state.path_elements[1:]) }}
{%- endmacro %}

{% macro event_enum_name(event) %}
{{ constant(ns, 'evt', event) }}
{%- endmacro %}

{% macro state_enum_type_name(state) %}
{{ type(*(state.path_elements + ['state'])) }}
{%- endmacro %}

{% macro state_field_name(state) %}
{{ field(*(state.path_elements[1:] + ['state'])) }}
{%- endmacro %}

{% set ns = root_state.name %}

{% set event_type = type(ns, 'event') %}

{% set state_type = type(ns, 'state') %}

{% set state_chart_type = type(ns, 'sc') %}

{% set state_chart_pointer = pointer('sc') %}

{% set state_chart_param = (state_chart_type + '*', state_chart_pointer) %}

{% set init_suffix = 'init' %}

{% set state_chart_init_sig = function_signature('void', function(ns, init_suffix),
                                       [state_chart_param]) %}

{% set event_variable = variable('evt') %}

{% set event_handler_params = [state_chart_param, (event_type, event_variable)] %}

{% set event_handler_suffix = 'handle_event' %}

{% set state_chart_event_handler_sig = function_signature('void', function(ns, event_handler_suffix), event_handler_params) %}
